@mixin mobile {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1198.98px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

.anime {
  display: flex;

  @include mobile() {
    flex-flow: column wrap;
    align-items: center;
  }

  @include tablet(){

    align-items: center;
  }


  &__imagem {
    padding: 2em;

    @include desktop() {
      width: 500px;
    }

    @include tablet(){

      width: 300px;
      height: 600px;
    }

    @include mobile() {
      width: 250px;
    }
  }
  &__titulo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 42px;
    letter-spacing: 0.125em;
    padding: 2em;

    @include mobile() {
      font-size: 7vw;
      padding: 1.2em;
      text-align: center;
      
    }

    @include tablet(){

      font-size: 3.5vw;
      padding: 0 1em 2em;
    }
  }

  &__sinopse {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.5vw;
    letter-spacing: 0.125em;
    text-align: justify;
    padding: 2em;

    @include mobile() {
      font-size: 5.5vw;
      line-height: 6vw;
      padding: 1.5em;
      
    }

    @include tablet() {
      font-size: 3vw;
      line-height: 3.5vw;
      padding: 0 0.5em;
    }
  }
}
.infos-extras {
  background-color: #f5f5f5;
  padding: 2em;
  margin: 2em;

  &__titulo {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 42px;
    letter-spacing: 0.125em;
    padding-bottom: 1em;

    @include mobile() {
      font-size: 6vw;
    }

  }

  &__lista {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1.7vw;
    line-height: 2.5vw;
    letter-spacing: 0.125em;

    @include mobile() {
      font-size: 5.5vw;
      line-height: 7vw;
      list-style: disc;
    }

    @include tablet(){

      font-size: 2.5vw;
      line-height: 3.5vw;
    }

    &__lista-item{

      @include mobile(){

        padding: 1em;
      }
    }
  }
}
